**/a.out
build
build/**
build-*/
**/.build/
tmp/
CMakeFiles/
.vscode
.idea/
.DS_Store
__pycache__/
*.pyc
**/.env
**/.obj
*.spv
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
littleVulkanEngine/sandbox/**
*.a
textures_
models/viking_room.obj
imgui.ini
.env.cmake
beacon_results/
beacon_results_*/
